body{
    background-color: white;
}
main{
    display:grid;
    grid-template-columns:1;
    grid-template-rows: 3;
    grid-template-areas:
    "top"
    "pic"
    "bottom";
}
nav{
grid-area: top;
}
header{
    display: flex;
    flex-direction: row;
}
#logo_top{
    width:150px;
    height:62px;
}