body{
    background-color: white;
}
nav{
grid-area: top;
}
header{
    display: flex;
    flex-direction: row;
    margin-top:1%;
    margin-bottom: 1%;
}
#logo_top{
    width:150px;
    height:62px;
}
.nav_link_desktop{
    margin-left:2%;
    margin-right: 3%;
    border: 0px;
    list-style-type: none;
}
.nav_link_active a{
    color: #D02E42;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.nav_link_unactive a{
    color: #282828;
    text-decoration: none;
    text-transform: uppercase;
}

.slide{
    width: 100%;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: #231f20;
}
#footer_social_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-inline-start: 0;
}

.footer_social_icon{
    list-style-type: none;
    margin:1%;
}
.footer_social_icon img{
    width: 20px;
    height:auto;
}
#footer_links_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:-2%;
}
.footer_link_desktop{
    list-style-type: none;
    margin:1%;
    
}
.footer_link_desktop a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}
#footer_credits_div{
    display: flex;
    flex-direction: column;
    background-color: #1a1818;
    text-align: right;
    padding-right: 1%;
}
#footer_credits_div p{
    text-transform: uppercase;
    font-size: 8px;
    color: white;
    margin: 0.5%;
}
