body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    margin:0;
}
header{
    display: flex;
    flex-direction: row;
    margin-top:1%;
    margin-bottom: 1%;
}
#logo_header{
    width:150px;
    height:62px;
}
.nav_link{
    margin-left:2%;
    margin-right: 3%;
    border: 0px;
    list-style-type: none;
    font-size: 14px;
}
.nav_link_active a{
    color: #D02E42;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.nav_link_unactive a{
    color: #282828;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.nav_link_unactive a:hover{
    transition: 0.15s ease-in-out;
    color:#D02E42;
}
.slide{
    width: 100%;
}
#about_section {
    margin-left: 1%;
    margin-right: 1%;
}
#about_section h3{
    text-transform: uppercase;
    margin-left:1.5%;
}
footer{
    display: flex;
    flex-direction: column;
    background-color: #231f20;
}
#footer_social_list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    text-align: center;
    padding-inline-start: 0;
}
#footer_social_div h5{
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 1%;
}
.footer_social_icon{
    list-style-type: none;
    padding: 0;
    margin: 0.5%;
    margin-bottom: -1%;
}
.footer_social_icon img{
    width: 30px;
    height:auto;
}
#footer_links_div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:-2%;
    margin: auto 0;
}
.footer_link a:hover{
    transition: 0.15s ease-in-out;
    color:#D02E42;
}
.footer_link{
    list-style-type: none;
    margin:1%;
    
}
.footer_link a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
}
#footer_credits_div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #1a1818;
}
#footer_credits_div a{
    text-transform: uppercase;
    font-size: 10px;
    color: white;
    margin: 0.5%;
    text-decoration: none;
    letter-spacing: 1px;
}

#footer_credits_div p{
    text-transform: uppercase;
    font-size: 10px;
    color: white;
    margin: 0.5%;
    text-decoration: none;
    letter-spacing: 1px;
}
