html, body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
    font-weight: bold;
}

.body_index {
    display: grid;
    grid-template-areas: "back" "content" "footer";
    grid-template-rows: 100vh auto auto;
    background-color: #f3f4f5;
}

.body {
    display: grid;
    grid-template-areas: "header" "content" "footer";
    grid-template-rows: auto 1fr auto;
    background-color: #f3f4f5;
}

.back {
    display: grid;
    grid-template-areas: "left header right" "left empty right" "left quotes right";
    grid-template-columns: 1fr minmax(auto, 1140px) 1fr;
    grid-template-rows: min-content 1fr 3fr;
    background-image: url(images/masthead@2x.jpg);
    grid-area: back;
    position: absolute;
    min-height: 100vh;
    min-width: 100%;
    background-size: cover;
    background-position: center;
}

header {
    grid-area: header;
    display: flex;
    width: auto;
    height: min-content;
    width: 100%;
    max-width: 1140px;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 35px;
    margin: 0 auto;
    border-bottom: 1px solid #cad2d7;
    align-items: center;
}

.logo_container {
    max-width: 141px;
}

.logo {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    height: min-content;
}

.nav_item {
    margin: 0 10px;
    height: min-content;
}

.nav_item>a {
    border-radius: 3px;
    padding: 9px 18px;
    font-size: 20px;
    font-weight: bold;
}

.nav_item.active>a {
    background-color: #ffc000;
}

.nav_item:hover>a {
    background-color: rgb(90, 90, 90);
    transition: all 0.5s;
}

.nav_item:hover>a {
    color: #fff;
}

.nav_item.nav_item.active>a {
    color: #fff;
}

.quotes {
    grid-area: quotes;
    width: 75%;
    color: #fff;
}

.quotes h1 {
    font-size: 80px;
    font-weight: bold;
    margin: 10px 0;
}

.quotes h3 {
    font-family: "Times New Roman", Times, serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 28px;
    margin: 10px 0;
    color: #e2e2e2;
}

.quotes h4 {
    font-size: 18px;
    margin: 15px 0;
}

.quotes p {
    font-size: 18x;
    max-width: 70%;
}

.main_container {
    grid-area: content;
    background-color: #f3f4f5;
}

.paragraphs_main {
    max-width: 1140px;
    margin: 30px auto;
    display: grid;
    grid-template-areas: "first second third";
}

.main {
    width: 90%;
    max-width: 1140px;
    margin: 40px auto;
    display: grid;
    grid-template-areas: "l-aside before r-aside" "l-aside title r-aside" "l-aside content r-aside" "l-aside after r-aside";
    padding-bottom: 60px;
    grid-template-columns: repeat(auto)
}

.main_content {
    grid-area: content;
    margin: 0 20px;
}

.main_content p {
    font-size: 18px;
    color: #363844;
}

.mock_small {
    grid-area: before;
    width: min-content;
    margin: 60px auto 0 auto;
}

.mock_small img {
    max-width: 1100px;
    border: 6px #fff solid;
}

.r-aside {
    grid-area: r-aside;
    border-left: 1px solid #cad2d7;
    padding: 20px 30px;
    max-width: 15vw;
}

.page_title {
    grid-area: title;
    margin: 0 20px;
}

.title {
    color: #2d3438;
    position: relative;
    font-size: 36px;
    letter-spacing: -1px;
}

.title::after {
    content: "\25AA";
    padding-left: 3px;
    color: #ffc000;
    position: absolute;
    top: 20%;
}

.post_title {
    font-size: 24px;
    width: 80%;
    color: #757677;
}

#last_post {
    border-bottom: 0px;
    padding-bottom: 0px;
}

.paragraphs {
    grid-area: after;
    display: flex;
}

.paragraphs .half {
    width: 47%;
    float: left;
    margin: 0 45px 0 20px;
}

.half p {
    font-size: 18px;
    color: #363844;
}

.paragraph_main {
    width: 200%;
}

.paragraph_main p {
    font-size: 18px;
    color: rgb(97, 97, 97);
    text-shadow: rgb(75, 74, 74);
}

.more {
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s all;
    color: #3c4a52;
}

.arrow::before {
    content: "\279D\00a0\00a0";
    color: #ffc000;
}

.more:hover {
    color: #ffc000;
    stroke: 1px black;
}

.first {
    grid-area: first;
    width: 80%;
}

.second {
    grid-area: second;
    width: 80%;
}

.third {
    grid-area: third;
    margin-right: 0;
    width: 80%;
}

footer {
    grid-area: footer;
    max-width: 1140px;
    margin: 0 auto;
    background-color: #f3f4f5;
    padding: 50px 0;
    border-top: 1px solid #cad2d7;
    justify-content: center;
}

.footer_container {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding-bottom: 60px;
    width: 1140px;
}

.footer {
    align-items: center;
}

.logo_foot img {
    max-width: 45px;
    transition: all 0.325s ease-in-out;
}

.footer_left {
    float: left;
    color: #9fa6aa;
}

.footer_right {
    float: right;
}

.social_icon img {
    width: 31px;
    opacity: .4;
    display: inline-block;
    transition: all 0.325s ease-in-out;
}

.footer_hover:hover {
    opacity: 0.6;
}

#contact-form ul {
    padding: 0;
}

#contact-form ul li {
    margin: 15px 0;
}

.contact-input {
    width: 65%;
    padding: 10px;
    border: none
}

#contact-message {
    width: 80%;
    padding: 10px;
    border: none;
    resize: none;
}

#contact-button {
    background-color: #ffc000;
    color: #fff;
    font-weight: bold;
    border: none;
    padding: 13px 16px;
    border-radius: 5px;
    transition: .3s all;
}

#contact-button:hover {
    background-color: #494949;
}

.post {
    width: 100%;
    display: grid;
    grid-template-areas: "post img";
    grid-template-columns: 1fr 2fr;
    padding: 45px 0;
    border-top: 1px solid #cad2d7;
    border-bottom: 1px solid #cad2d7;
}

.post_details {
    grid-area: post;
}

.post img {
    grid-area: img;
    position: relative;
    width: 90%;
    margin: auto;
    border: #fff 6px solid;
    transition: .3s all;
}

.post img:hover {
    opacity: .6;
    cursor: pointer;
}

.post_link:hover>.title {
    color: #ffc000;
    transition: .3s all;
}

.post_link>.title {
    margin: 0;
}

.posted_date {
    color: #ffc000;
    font-weight: bold;
    margin: 0;
    letter-spacing: 0px;
}

.post_desc {
    width: 80%;
    line-height: 140%;
    color: #656a6f;
}

.gallery {
    max-width: 1140px;
    display: flex;
    grid-template-areas: "details images";
    grid-template-columns: 1fr 3fr;
    margin: 0 auto;
}

.gallery_details {
    grid-area: details;
    width: fit-content;
    padding-right: 20px;
    padding-top: 40px;
}

.gallery_details p {
    word-wrap: break-word;
    color: #656a6f;
}

.gallery_image {
    position: relative;
    max-width: 45%;
    margin-left: 32px;
}

.gallery_images_container {
    grid-area: images;
    display: flex;
    flex-wrap: wrap;
}

.gallery_images_container ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}

.gallery_image_big {
    display: flex;
}

.gallery_image_big img {
    width: 700px;
    margin: 20px 25px 20px 0px;
}

.gallery_image_small {
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

.fontsize24px {
    font-size: 24px;
}

.italic {
    font-style: italic;
}