html, body {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 66px;
    margin-top: 25px;
    margin-bottom: 33px;
}

h2 {
    font-size: 56px;
    margin-top: 15px;
    margin-bottom: 18px;
}

.body_index {
    display: grid;
    grid-template-areas: "back" "content" "footer";
    grid-template-rows: 1050px min-content min-content;
    background-color: #f3f4f5;
}

#background_img {
    position: absolute;
    margin: 0px;
    padding: 0px;
    border: none;
    height: 168%;
    width: 100vw;
    object-fit: cover;
    z-index: -999999;
    overflow: hidden;
}

.body {
    display: grid;
    grid-template-areas: "header" "content" "footer";
    grid-template-rows: auto 1fr auto;
    background-color: #f3f4f5;
}

.back {
    display: grid;
    grid-template-areas: "left header right" "left quotes right";
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: fit-content fit-content;
    grid-area: back;
    position: absolute;
    width: 100%;
}

header {
    overflow: hidden;
    grid-area: header;
    display: flex;
    width: 1060px;
    height: 52px;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 45px;
    margin: 0 auto;
    margin-bottom: 12px;
    border-bottom: 1px solid #cad2d7;
    align-items: center;
}

.header_index {
    overflow: hidden;
    grid-area: header;
    display: flex;
    width: 1140px;
    height: 52px;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 45px;
    margin: 0 auto;
    margin-bottom: 12px;
    border-bottom: 1px solid #cad2d7;
    align-items: center;
}

.logo_container {
    max-width: 141px;
}

.logo {
    width: 100%;
}

nav {
    display: flex;
    align-items: center;
    height: min-content;
}

select
{
    display:none;
}

.nav_item {
    margin: 0 10px;
    height: min-content;
}

.nav_item>a {
    border-radius: 3px;
    padding: 9px 18px;
    font-size: 20px;
    font-weight: bold;
}

.nav_item.active>a {
    background-color: #ffc000;
}

.nav_item:hover>a {
    background-color: rgb(90, 90, 90);
    transition: all 0.5s;
}

.nav_item:hover>a {
    color: #fff;
}

.nav_item.nav_item.active>a {
    color: #fff;
}

.quotes {
    grid-area: quotes;
    width: 80%;
    margin-top: 15%;
    height: min-content;
    color: #fff;
}

.quotes h1 {
    font-size: 80px;
    font-weight: bold;
    margin: 10px 0;
}

.quotes h3 {
    font-family: "Times New Roman", Times, serif;
    font-weight: lighter;
    font-style: italic;
    font-size: 28px;
    margin: 10px 0;
    color: #e2e2e2;
}

.quotes h4 {
    font-size: 18px;
    margin: 15px 0;
}

.quotes p {
    font-size: 18x;
    max-width: 70%;
}

.main_container {
    grid-area: content;
    background-color: #f3f4f5;
    padding-bottom: 30px;
    width: 1060px;
    margin: 0 auto;
}

.main_container_index {
    grid-area: content;
    display: flex;
    justify-content: space-between;
    background-color: #f3f4f5;
    padding-bottom: 30px;
    width: 1140px;
    margin: 0 auto;
}

.paragraphs_main {
    width: 1140px;
    margin: 30px auto;
    display: grid;
    grid-template-areas: "first second third";
    column-gap: 30px;
}

.main {
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "aside_left top aside_right" "aside_left title aside_right" "aside_left content aside_right" "aside_left bottom aside_right";
    padding-bottom: 20px;
    grid-template-columns: repeat(auto)
}

.main_content {
    grid-area: content;
}

.main_content p {
    font-size: 16px;
    color: #656A6F;
    line-height: 1.5;
    width: 85%;
}

.mock_small {
    grid-area: top;
    margin: 60px auto 0 auto;
}

.mock_small img {
    margin: 0 auto;
    width: 100%;
    border: 6px #fff solid;
}

.aside_right {
    grid-area: aside_right;
    border-left: 1px solid #cad2d7;
    padding-left: 45px;
    max-width: 15vw;
    height: fit-content;
}

.page_title {
    grid-area: title;
    margin: 0;
}

.title {
    color: #2d3438;
    position: relative;
    letter-spacing: -1px;
}

.title::after {
    content: ".";
    font-size: 56px;
    position: relative;
    padding-left: 3px;
    color: #ffc000;
}

.post_title {
    font-size: 24px;
    width: 80%;
    color: #757677;
}

.paragraphs {
    grid-area: bottom;
    display: flex;
    justify-content: space-between;
}

.paragraphs .half {
    width: 47%;
    float: center;
    margin: 0 0;
}

.half p {
    font-size: 16px;
    color: #656A6F;
    line-height: 1.5;
    word-wrap: break-word;
}
.last p{
    margin-left:20px;
}

.paragraph_main p {
    font-size: 15px;
    color: rgb(97, 97, 97);
    text-shadow: rgb(75, 74, 74);
    line-height: 1.4;
    word-wrap: break-word;
}

.more {
    font-size: 16px;
    font-weight: bold;
    transition: 0.5s all;
    color: #3c4a52;
}

.arrow::before {
    content: "\279D\00a0\00a0";
    color: #ffc000;
}

.more:hover {
    color: #ffc000;
    stroke: 1px black;
}

.first {
    grid-area: first;
}

.second {
    grid-area: second;
}

.third {
    grid-area: third;
}

footer {
    grid-area: footer;
    width: 1060px;
    margin: 0 auto;
    background-color: #f3f4f5;
    padding: 50px 0;
    border-top: 1px solid #cad2d7;
    justify-content: center;
}

.footer_container {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 60px;
}

.footer {
    align-items: center;
}

.logo_foot img {
    max-width: 45px;
    transition: all 0.325s ease-in-out;
}

.footer_left {
    float: left;
    color: #9fa6aa;
}

.footer_right {
    float: right;
}

.social_icon img {
    width: 31px;
    opacity: .4;
    display: inline-block;
    transition: all 0.325s ease-in-out;
}

.footer_hover:hover {
    opacity: 0.6;
}

#contact_main {
    padding-bottom: 20px;
}

.page_title_contact {
    grid-area: title;
}

.title_p {
    font-size: 22px;
    line-height: 32px;
    width: 74%;
    margin-top: 0px;
    margin-right: 4%;
    float: left;
    color: #3c4a52;
    font-style: oblique;
}

.page_title_contact h2 {
    font-size: 66px;
    margin-top: 13px;
    margin-bottom: 33px;
}

.page_title_contact p {
    width: 85%;
    font-size: 22px;
    font-style: italic;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: 24px;
}

#main_container_contact {
    padding-top: 50px;
    padding-bottom: 50px;
}

.contact_network_list {
    border-bottom: 1px solid #cad2d7;
    width: 220px;
}

.contact_network_list li {
    margin: 10px 0px;
}

.contact_network_list a {
    color: #656A6F;
}

#contact_form_list {
    padding: 20px 0px 20px 0px;
    list-style: none;
}

.contact_form_input {
    width: 65%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #cad2d7;
    resize: none;
    font-size: 18px;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

#contact_form_message {
    width: 80%;
    padding: 10px;
    margin: 10px 0px;
    border: 1px solid #cad2d7;
    resize: none;
    font-size: 18px;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
}

#contact_form_button {
    background-color: #ffc000;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    border: none;
    padding: 13px 16px;
    border-radius: 5px;
    transition: .3s all;
    margin-top: 20px;
}

#contact_form_button:hover {
    background-color: #494949;
}

#first_post {
    border-top: 0;
}

#last_post {
    border-bottom: 0px;
    padding-bottom: 25px;
}

.post {
    width: 100%;
    display: grid;
    grid-template-areas: "post img";
    grid-template-columns: 1fr 2fr;
    padding: 50px 0;
    border-top: 1px solid #cad2d7;
    border-bottom: 1px solid #cad2d7;
}

.post_details {
    grid-area: post;
}

.post img {
    grid-area: img;
    position: relative;
    width: 90%;
    margin: auto;
    border: #fff 6px solid;
    transition: .3s all;
}

.post img:hover {
    opacity: .6;
    cursor: pointer;
}

.post_link {
    font-size: 36px;
    color: #2d3438;
    line-height: 100%;
    letter-spacing: -1px;
    font-weight: bold;
}

.post_link:hover>.title {
    color: #ffc000;
    transition: .3s all;
}

.post_link>.title {
    margin: 0;
}

.posted_date {
    color: #ffc000;
    font-weight: bold;
    margin: 0;
    letter-spacing: 0px;
}

.post_desc {
    width: 80%;
    line-height: 140%;
    color: #656A6F;
}

#main_container_indiv_post {
    margin-top: 50px;
}

.indiv_post img {
    position: relative;
    width: 90%;
    border: #fff 6px solid;
    transition: .3s all;
    margin-top: 30px;
}

.indiv_post_title {
    width: 90%;
    margin-bottom: 24px;
    font-size: 20px;
    font-weight: 400;
    font-style: oblique;
    line-height: 32px;
    color: #3c4a52;
}

.indiv_post_desc {
    width: 90%;
    line-height: 140%;
    color: #656A6F;
}

.indiv_post h4 {
    font-size: 24px;
    margin: 25px 0px 12px 0px;
}

.indiv_post h6 {
    font-size: 14px;
    color: #ffc000;
    margin: 0;
}

#indiv_post_blockquote_img {
    margin-top: 0;
}

.gallery {
    width: 100%;
    display: grid;
    grid-template-areas: "details images";
    grid-template-columns: 1fr 2fr;
    margin: 0 auto;
}

#first_gallery_post {
    border-top: 0;
}

#last_gallery_post {
    border-bottom: 0px;
    padding-bottom: 0px;
}

.gallery_details {
    grid-area: details;
    width: fit-content;
    padding-right: 20px;
    padding-top: 40px;
}

.gallery_details p {
    word-wrap: break-word;
    color: #656A6F;
}

.gallery_image {
    position: relative;
    max-width: 45%;
    margin-left: 32px;
}

.gallery_images_container {
    grid-area: images;
    display: flex;
    flex-wrap: wrap;
}

.gallery_images_container ul {
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
}

.gallery_image_big {
    display: flex;
    margin: 5px 20px;
}

.gallery_image_big img {
    width: 100%;
}

.gallery_image_small {
    display: flex;
    margin: 15px 0px;
    justify-content: space-between;
    margin-right: -11px;
}

.gallery_image_small img {
    width: 100%;
}

.aside_right_styles {
    grid-area: right_side;
    border-left: 1px solid #cad2d7;
    padding-left: 45px;
    height: fit-content;
}

.styles_list li {
    margin: 5px 0px;
    color: #656A6F;
}

.ordered_list_styles {
    list-style: none;
    counter-reset: li
}

.ordered_list_styles li {
    counter-increment: li
}

.ordered_list_styles li::before {
    content: counter(li)'. ';
    color: #ffc000;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em
}

.main_styles {
    width: 1060px;
    margin: 40px auto;
    display: grid;
    grid-template-areas: "left_side right_side";
    grid-template-columns: 72% 28%;
    padding-bottom: 10px;
}

.styles_showcase {
    grid-area: left_side;
    width: 90%;
}

.styles_showcase h1 {
    font-size: 66px;
    margin: 28px 0px;
}

.lead {
    font-size: 22px;
    line-height: 30px;
    font-style: oblique;
    word-wrap: break-word;
    color: #3c4a52;
}

.styles_showcase p {
    color: #656a6f;
}

.highlight {
    color: #ffc000;
}

.styles_showcase h2 {
    font-size: 36px;
    margin: 15px 0px 18px 0px;
}

.styles_showcase h3 {
    font-size: 28px;
    margin: 28px 0px;
}

.styles_showcase h4 {
    font-size: 24px;
    margin: 25px 0px 12px 0px;
}

.styles_h4_span {
    color: #ffc000;
}

.styles_showcase h5 {
    font-size: 24px;
    color: #ffc000;
    margin: 25px 0px 12px 0px;
}

.styles_showcase h6 {
    font-size: 14px;
    color: #ffc000;
    margin: 25px 0px 7px 0px;
}

.styles_showcase hr {
    margin: 48px 0;
    border-top: 0.5px;
    border-color: #cad2d7;
}

.dash {
    border-style: dashed;
}

.dots {
    border-style: dotted;
}

.btn {
    background-color: #ffc000;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    padding: 0.6em 1.2em;
    transition: all 250ms ease-in-out;
    border-radius: 5px;
}

.btn:hover {
    background-color: #646d72;
}

.small_btn {
    background-color: #ffc000;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    margin: 7px 0px;
    padding: .6em .9em;
}

.xsmall_btn {
    background-color: #ffc000;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    margin: 6px 0px;
    padding: .6em .7em;
}

.styles_img_borders img {
    border: 6px solid #fff;
}

#images_showcase_images {
    display: grid;
    grid-template-columns: repeat(6, 16.66%);
    grid-template-rows: repeat(3, auto);
    grid-gap: 1% 2%;
    grid-template-areas: "full_img full_img full_img full_img full_img full_img" "half_img_1 half_img_1 half_img_1 half_img_2 half_img_2 half_img_2" "third_image_1 third_image_1 third_image_2 third_image_2 third_image_3 third_image_3";
    padding-bottom: 20px;
}

.full_img {
    grid-area: full_img;
    justify-self: center;
}

.full_img img {
    width: 100%;
}

.half_img_1 {
    grid-area: half_img_1;
}

.half_img_2 {
    grid-area: half_img_2;
}

.half_img {
    justify-self: center;
}

.half_img img {
    width: 100%;
}

.third_image_1 {
    grid-area: third_image_1;
}

.third_image_2 {
    grid-area: third_image_2;
}

.third_image_3 {
    grid-area: third_image_3;
}

.third_img img {
    width: 100%;
}

.third_image {
    justify-self: center;
}

.footable {
    border-collapse: collapse;
}

.thead {
    display: table-header-group;
    vertical-align: middle;
    border-color: inherit;
}

table {
    border: 1px solid #dde1e5;
}

table th {
    padding: .5em;
    border: 1px solid #dde1e5;
    background-color: #ebedef;
    vertical-align: middle;
    height: 24px;
    width: 166px;
    text-align: left;
    color: #3c4a52;
}

table td {
    vertical-align: middle;
    color: #656a6f;
    padding: 0.5em;
    border: 1px solid #dde1e5;
}

table tr:nth-child(2n+1) {
    background-color: #F8F8F8;
}

table tr:nth-child(2n) {
    background-color: #fff;
}

fieldset {
    padding: 1em;
    border-radius: 3px;
    border: 1px solid #d9d6cf;
    margin-bottom: 1em;
}

fieldset legend {
    color: #656a6f;
}

fieldset label {
    color: #656a6f;
    font-weight: bold;
    font-size: 16px;
}

fieldset input {
    border: 1px solid #dde1e5;
    background: #ffffff;
    padding: 10px 2%;
    color: #969ca5;
    border-radius: 3px;
    display: inline-block;
    outline: none;
    margin-bottom: 1em;
    resize: none;
    display: block;
    width: 68%;
    font-size: 16px;
    font-style: italic;
}

fieldset select {
    margin-bottom: 1em;
    margin-right: 6px;
    color: #656a6f;
    font-size: 18px;
}

fieldset textarea {
    width: 95%;
    height: 140px;
    display: block;
    resize: none;
    outline: none;
    border: 1px solid #dde1e5;
    background: #ffffff;
    padding: 10px 2%;
    color: #969ca5;
    border-radius: 3px;
    margin-bottom: 1.5em;
}

.checkbox_label {
    display: flex;
    justify-content: flex-start;
    font-size: 16px;
    line-height: 16px;
}

.checkbox_label input {
    height: 14px;
    width: 14px;
    margin: 0px 10px 20px 0;
    justify-content: center;
}

.inner_fieldset {
    background-color: #fff;
}

.inner_fieldset legend {
    font-size: 20px;
}

.inner_fieldset label {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
}

.inner_fieldset input {
    height: 18px;
    width: 18px;
    margin-right: 12px;
    ;
}

#styles_form_btn {
    font-size: 18px;
    font-style: normal;
    width: 22%;
}

.styles_text_columns_showcase {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
    gap: 15px 15px;
    grid-template-areas: "column_half_1 column_half_1 column_half_1 column_half_1 column_half_1 column_half_1 column_half_2 column_half_2 column_half_2 column_half_2 column_half_2 column_half_2" "column_third_1 column_third_1 column_third_1 column_third_1 column_third_2 column_third_2 column_third_2 column_third_2 column_third_3 column_third_3 column_third_3 column_third_3" "column_fourth_1 column_fourth_1 column_fourth_1 column_fourth_2 column_fourth_2 column_fourth_2 column_fourth_3 column_fourth_3 column_fourth_3 column_fourth_4 column_fourth_4 column_fourth_4" "column_fourth_5 column_fourth_5 column_fourth_5 column_fourth_6 column_fourth_6 column_fourth_6 column_half_3 column_half_3 column_half_3 column_half_3 column_half_3 column_half_3" "column_fourth_7 column_fourth_7 column_fourth_7 column_three_fourths column_three_fourths column_three_fourths column_three_fourths column_three_fourths column_three_fourths column_three_fourths column_three_fourths column_three_fourths" "column_two_thirds column_two_thirds column_two_thirds column_two_thirds column_two_thirds column_two_thirds column_two_thirds column_two_thirds column_third_4 column_third_4 column_third_4 column_third_4";
}

.column_half_1 {
    grid-area: column_half_1;
}

.column_half_2 {
    grid-area: column_half_2;
}

.column_third_1 {
    grid-area: column_third_1;
}

.column_third_2 {
    grid-area: column_third_2;
}

.column_third_3 {
    grid-area: column_third_3;
}

.column_fourth_1 {
    grid-area: column_fourth_1;
}

.column_fourth_2 {
    grid-area: column_fourth_2;
}

.column_fourth_3 {
    grid-area: column_fourth_3;
}

.column_fourth_4 {
    grid-area: column_fourth_4;
}

.column_fourth_5 {
    grid-area: column_fourth_5;
}

.column_fourth_6 {
    grid-area: column_fourth_6;
}

.column_half_3 {
    grid-area: column_half_3;
}

.column_fourth_7 {
    grid-area: column_fourth_7;
}

.column_three_fourths {
    grid-area: column_three_fourths;
}

.column_third_4 {
    grid-area: column_third_4;
}

.column_two_thirds {
    grid-area: column_two_thirds;
}

iframe {
    margin-bottom: 20px;
}

#view_larger_map {
    font-size: 13px;
}

blockquote {
    font-size: 24px;
    line-height: 32px;
    color: #3c4a52;
    font-style: italic;
}

.blockquote_right {
    display: block;
    float: right;
    width: 40%;
    margin: 0 3% 3%;
    text-align: left;
}

.video_wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.lineheight1_8 {
    line-height: 1.8;
}

.lineheight1_5 {
    line-height: 1.5;
}

.fontsize15px {
    font-size: 15px;
}

.fontsize16px {
    font-size: 16px;
}

.fontsize24px {
    font-size: 24px;
}

.fontsize36px {
    font-size: 36px;
}

.italic {
    font-style: italic;
}

.oblique {
    font-style: oblique;
}

.list_no_bullet {
    list-style-type: none;
}

.list_no_padding {
    padding: 0;
    padding-inline-start: 0;
}

.paddingbottom40px {
    padding-bottom: 40px;
}

.paddingbottom20px {
    padding-bottom: 10px;
}

.paddingbottom10px {
    padding-bottom: 20px;
}

.paddingtop40px {
    padding-top: 40px;
}

.paddingtop30px {
    padding-top: 30px;
}

.paddingbottom5px {
    padding-bottom: 5px;
}

.paddingleft0 {
    padding-left: 0;
}

.paddingleft20px {
    padding-left: 20px;
}

#no_idea_how_to_call_it {
    width: 250px;
    line-height: 1.5;
    color: #656A6F;
}

#no_idea_how_to_call_it img {
    width: 100%;
    border: 6px solid #fff;
}