body {
    width: 100%;
    margin:auto;
    justify-content: center;
}
#top_bar{
    height: 30px;
    width: 100%;
    background-color: #252A3A;
    color: #217EEA;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}
#menu_button{
    text-align: right;
}
#menu_button button{
    background-color:transparent;
    border:none;
    color:#2080E1;
}
#menu_dropdown{
    z-index:1;
    position:relative;
    background-color: #252A3A;
    display: none;
    text-align: left;
}
#menu_dropdown_compose_button{
    text-align: center;
    padding: 10px;
}
#mail_folders_section{
    margin-left:10px;
}
#menu_dropdown_compose_button button{
    background-color:#1B98F8;
    border-radius: 20px;
    color:white;
    font-size:16px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    border:none;
}
#menu_dropdown p{
    color:white;
    padding-left:10px;
    margin: 0;
}
.hover:hover{
    background-color: #373C5A;
}
#menu_dropdown h3{
    text-transform: uppercase;
    color: #456C94;
    font-weight: normal;
    padding-left:15px;
    margin-top: 5px;
    margin-bottom: 5px;
}
#mail_labels_section{
    display:flex;
    flex-direction: column;
    padding-bottom: 20px;
}
.mail_label_container{
    display: flex;
    flex-direction:row;
    line-height:15px;
    margin: 10px;
    padding-left: 15px;;
}
.label_square{
    height:15px;
    width:15px;
    border-radius: 2px;
}
#private_label_square{
    background-color:#FFC94C;
}
#job_label_square{
    background-color:#41CCB4;
}
#flights_label_square{
    background-color:#40C365;
}
#inbox{
    height:auto;
    width:100%;
    display:flex;
    flex-direction: column;
}
.mail_read{
    width:5px;
    background-color:white;
}
.mail_unread{
    width:5px;
    background-color:#1B98F8;
}
.mail_container{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-bottom: 1px solid rgba(128, 128, 128, 0.151);
}
.mail{
    padding:5px;
    width:100%;
}
.mail p{
    margin: 0px;
    margin-bottom: 5px;
}
.mail h5{
        margin: 0px;
}
.mail h4{
        margin: 0px;
}
.mail_txt{
    display:flex;
    flex-direction: column;
}
.mail_sender{
    text-transform: uppercase;
    font-size: 18px;
    color: grey;
}
.mail_topic{
    font-size: 20px;
    color: black;
}
.mail_content{
    font-size:12px;
    color: black;
    text-align:left;
}
.mail img{
    height: 50px;
    width: 50px;
    padding: 5px;
    float: left;
    border-radius: 15px;
}
#open_mail_topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2%;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.151);
}
#open_mail_topbar_text{
    width:65%;
    text-align:left;
}
#open_mail_topbar_text h1{
    margin: 0px;
}
#open_mail_topbar_buttons{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-end;
    align-content:flex-start;
    width: 35%;
    text-align:right;
}
.open_mail_topbar_button button{
    font-size: 12px;
    color: gray;
    background-color: transparent;
    border: 1px solid rgba(128, 128, 128, 0.151);
    border-radius: 15px;
    text-align: center;
}
#open_mail_content{
    padding:5px;
}
