body {
    background-color: #5b6775;
    height: 600px;
    width: 600px;
    padding: 25%;
    position: relative;
}

#cardsContainer {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 12%;
    height: 300px;
    width: 700px;
}

.name {
    height: 20%;
    margin-bottom: -15px;
}

.name h3 {
    font-weight: bold;
    font-size: 22px;
}

.name {
    text-align: center;
}

.list {
    list-style-type: square;
    padding-left: 20%;
    height: 60%;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.list li {
    margin: 5px;
    padding-left: 0;
    float: left;
}

.bar {
    width: 80%;
    border-style: dashed;
    border-top: 1px;
    border-width: 1px;
    border-color: rgb(172, 172, 172);
    margin: 0 auto;
}

.price {
    background-color: #C0D5D2;
    height: 20%;
    text-align: center;
    padding: 5px 0;
}

.buttonContainer {
    display: flex;
    text-align: center;
}

#switchButton {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    color: white;
    background-color: #AD7175;
    border: 1px solid white;
    border-radius: 40px;
}

.cardEven {
    background-color: #F5F7F7;
    color: #53545A;
    width: 250px;
    height: 250px;
    justify-content: center;
    margin: 20px;
}

.growLeft {
    background-color: #F5F7F7;
    color: #53545A;
    width: 250px;
    height: 250px;
    justify-content: center;
    margin: 20px;
    animation-duration: 2s;
    animation-name: growLeftAnim;
    animation-fill-mode: forwards;
}

.growRight {
    background-color: #F5F7F7;
    color: #53545A;
    width: 250px;
    height: 250px;
    justify-content: center;
    margin: 20px;
    animation-duration: 2s;
    animation-name: growRightAnim;
    animation-fill-mode: forwards;
}

.shrinkLeft {
    background-color: #F5F7F7;
    color: #53545A;
    width: 250px;
    height: 250px;
    justify-content: center;
    margin: 20px;
    animation-duration: 2s;
    animation-name: shrinkLeft;
    animation-fill-mode: forwards;
}

.shrinkRight {
    background-color: #F5F7F7;
    color: #53545A;
    width: 250px;
    height: 250px;
    justify-content: center;
    margin: 20px;
    animation-duration: 2s;
    animation-name: shrinkRightAnim;
    animation-fill-mode: forwards;
}

@keyframes growRightAnim {
    100% {
        transform: scale(1.2) translateX(10%);
    }
}

@keyframes growLeftAnim {
    100% {
        transform: scale(1.2) translateX(-10%);
    }
}

@keyframes shrinkRightAnim {
    100% {
        transform: scale(0.8) translateX(10%);
    }
}

@keyframes shrinkLeftAnim {
    100% {
        transform: scale(0.8) translateX(-10%);
    }
}