#a1 {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: beige;
  width: 1000px;
  height: 100px;
}
#a2 { 
  position: absolute;
  top: 100px;
  left: 0px;  
  background-color:paleturquoise; 
  width:200px; 
  height:800px; 
} 
#a3 { 
  position: absolute;
  top: 100px;
  left: 200px;  
  background-color:lightcyan; 
  width:600px; 
  height:800px; 
} 
#a4 { 
  position: absolute;
  top: 100px;
  left: 800px;  
  background-color:blue; 
  width:200px; 
  height:800px; 
} 
#a5 {
  position: absolute;
  left: 0px;
  top: 900px;
  background-color: grey; 
  width: 1000px;
  height: 100px;
}