#mainContainer{
    height: 100vh;
    width: 100vw;
    background-color:#B8B6B4;
    text-align: center;
}
#pageContainer{
    display: grid;
    justify-content: center;
    align-items: center;
}
#mainButton{
    font-size: 20px;
    background-color: skyblue;
    border: 0px;
    border-radius: 8px;
}
#menuContainer{
    position: absolute;
    /*top:-2em;*/
    left: 25%;
}
#menuContainer button{
    background-color: transparent;
    border: 0px;
    color: white;
    font-size: 22px;
    z-index: -11111;
}

#pageContainerLayDown{
    display: grid;
    justify-content: center;
    align-items: center;
    animation-duration: 2s;
    animation-name: layDown;
}

@keyframes layDown{
    100% {
        transform: translateZ(-1500px) 
        rotateX(80deg);
    }
}
