body {
    text-align: center;
    width: 600px;
    height:auto;
    margin: auto;
    justify-content: center;
}
#top_bar{
    height: 30px;
    width: 100%;
    background-color: #252A3A;;
    color: #217EEA;
    text-align: right;
    vertical-align: middle;
    line-height: 30px;
}
#inbox{
    height:auto;
}
.mail{
    height: auto;
    width: auto;
    border-top: 1px;
    border-bottom: 1px;
    border-color: gray;
    border-style: solid;
    display: flex;
    }
    .mail_date{
        text-transform: capitalize;
    }
    .mail_topic{
        
    }
    .mail_content{
        
    }
img{
    height: 20px;
    width: 20px;
    margin: 5px;
}
.mail_txt{

}