p{
    margin: 1%;
}
h5{
    margin: 0px;
}
h4{
    margin: 0px;
}
body {
    width: 639px;
    margin: auto;
    justify-content: center;
}
#top_bar{
    height: 30px;
    width: 100%;
    background-color: #252A3A;;
    color: #217EEA;
    text-align: right;
    vertical-align: middle;
    line-height: 30px;
}
#menu{
padding-right: 1%;
}

#inbox{
    height:auto;
    width:100%;
    display:flex;
    flex-direction: column;
}
.mail{
    height: auto;
    width: 100%;
    background-color: white;
    flex-direction: row;
    border-top: 3px;
    border-bottom: 3px;
    border-color: gray;
    }
    .mail_txt{
    display:flex;
    flex-direction: column;
    }
    .mail_sender{
        text-transform: uppercase;
        font-size: 18px;
        color: grey;
    }
    .mail_topic{
      font-size: 20px;
      color: black;
    }
    .mail_content{
      font-size:12px;
      color: black;
      text-align:left;
    }
img{
    height: 50px;
    width: 50px;
    float: left;
}
#open_mail_topbar{
display: flex;
flex-direction: row;
justify-content: space-between;
padding:3%;
}
#open_mail_topbar_buttons{

    justify-content: flex-end;
}
.open_mail_topbar_button{
    font-size: 12px;
    color: gray;
    background-color: white;
    border: 1px solid gray;
    border-radius: 15px;
    text-align: center;
}
